@use '../abstract/vars' as *;

html {
  box-sizing: border-box;
  background-color: var(--clr-bg);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.page__body {
  font-family: var(--font-family);
}
