@use '../abstract/vars' as *;

html {
  box-sizing: border-box;
  background-color: var(--clr-bg);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.page__body {
  font-family: var(--font-family);
  color: var(--clr-light);
}

.list-reset {
  padding: 0;
  list-style: none;
}
