.select-movie {
  &__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    color: var(--clr-light);
  }

  &__group {
    position: relative;
    // max-width: 280px;
    width: 312px;
  }

  &__select {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    color: var(--clr-light);
    appearance: none;
    outline: none;
    background-color: var(--clr-primary-dark);

    cursor: pointer;

    &:focus-visible {
      border-color: var(--clr-primary);
    }
  }

  &__list {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 8px;
    padding: 4px;
    background-color: var(--clr-primary-dark);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;

    &--active {
      animation: pop-up 0.2s ease-out forwards;
    }
  }

  @keyframes pop-up {
    0% {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }

    50% {
      transform: scale(0.7);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &__option {
    position: relative;
    border-radius: 4px;
    padding: 8px 4px;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -2;
      background-color: var(--clr-primary-dark);
      background-image: url('~/assets/img/kingdom-of-planet-of-the-apes.jpg');
      background-position: 20% 47%;
      background-size: 150%;
      background-repeat: no-repeat;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
      transition: transform 0.3s ease-out;
    }

    &:hover {
      // background-color: rgba($color: #218ca7, $alpha: 0.8);

      &::before {
        opacity: 0.7;
        visibility: visible;
        transform: translateX(0%);
      }
    }
  }
}
